[submodule "BT_SFOS_Components"]
	path = BT_SFOS_Components
	url = https://github.com/Buschtrommel/BT_SFOS_Components.git
[submodule "speedtest-cli"]
	path = speedtest-cli
	url = https://github.com/sivel/speedtest-cli.git
[submodule "libaladrati"]
	path = libaladrati
	url = https://github.com/Huessenbergnetz/libaladrati.git
